.footer{
    padding: 40px 20px 10px;
    background-color: var(--body-color-1);
}
.container{
    display: grid;
    grid-template-columns: auto auto ;
    
}

.info{
    justify-self: center;
}
.info h1{
    color: var(--text-color-while-1);
    font-weight: 800;
    font-size: 35px;
}
.info span{
    color: var(--text-color-while-1);
    font-size: 20px;
}
.links{
    list-style: none;
    justify-self: center;
    font-size: 18px;
}
ul li a{
    color: var(--text-color-while-1);
    text-decoration: none;
}
ul li a:hover{
    color: var(--text-color-red-1);
}
.title-links{
    color: var(--text-color-while-2);
    font-size: 20px;
}

.footer-socials{
    grid-column: 1 /span 2;
    justify-self: center;

}

.footer-socials a{
    margin-right: 10px;
    color: var(--text-color-while-2);
    font-size: 20px;
}
.footer-socials a:hover{
    color: var(--text-color-red-1);
}
.footer-copy{
    font-size: 15px;
    color: var(--text-color-while-3);
    text-align: center;
    margin-top: 30px;
}
@media screen and (max-width:768px) {
    .info h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 414px){
    .info h1 {
        font-size: 25px;
    }
    .info span {
        font-size: 15px;
    }
    .title-links {
        font-size: 17px;
    }
    ul li a {
        font-size: 15px;
    }
    .footer-socials a {
        font-size: 17px;
    }
}
@media screen and (max-width: 375px){
    .info h1 {
        font-size: 22px;
    }
    .info span {
        font-size: 14px;
    }
    .title-links {
        font-size: 16px;
    }
    ul li a {
        font-size: 14px;
    }
    .footer-socials {
        margin-top: 10px;
    }
    .footer-socials a {
        font-size: 15px;
    }
}